<div class="home_background">
  <div class="home_banner" style="padding: 30px">
    <h1 class="em" style="font-size: 70px">About</h1>
  </div>

  <div class="card">
    <div class="card_title em">
      What is BorrowBike?
    </div>
    <address>
      <strong>BorrowBike is University of Portland's bike rental system</strong><br>
      It is an improvement of the slow, inconvenient bike rental system at Beauchamp.<br />
      When implemented, students will be able to sign up on the website, and then just swipe and go with their student ID's any time they like.
    </address>
  </div>

  <div class="card">
    <div class="card_title em">
      Information
    </div>
    <address>
      <strong>Outdoor Pursuits & Bike Shop</strong><br>
      503.943.8748
    </address>
  </div>

  <div class="card">
    <div class="card_title em">
      Team Members
    </div>
    <address>
      <strong>Mechanical Engineers</strong><br>
      Jesse Rubenstein <br />
      Jack Padon <br />
      Martin Woodby <br />
      <strong>Computer Science</strong><br />
      Grayson Taylor <br />
      Aaron Leung <br />
      Ryan Dehart <br />
    </address>
  </div>
</div>
