<div class="home_background">
  <div class="home_banner" style="padding: 30px">
    <h1 class="em" style="font-size: 70px;">Bikes</h1>
  </div>
  <div class="card">
    <div class="card_title em">
      Bikes Available
    </div>


    <p *ngIf="!bikes"><em>Loading...</em></p>

    <table class='table biketable' *ngIf="bikes">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bike of bikes">
          <td>{{ bike.name }}</td>
          <td>{{ bike.type }}</td>
          <td *ngIf="bike.status == 'Available' " class="available">{{ bike.status }}</td>
          <td *ngIf="bike.status != 'Available' " class="unavailable">{{ bike.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
